<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title data-vue-meta="true"></title>
  <link rel="shortcut icon" href="/static/logo.png" data-vue-meta="true">
<script type="text/javascript" src="<%= htmlWebpackPlugin.options.assetsPublicPath %>/<%= htmlWebpackPlugin.options.assetsSubDirectory %>/dll/VueReference-df5c35c013663ee513a1.dll.js" defer></script><script type="text/javascript" src="<%= htmlWebpackPlugin.options.assetsPublicPath %>/<%= htmlWebpackPlugin.options.assetsSubDirectory %>/dll/UIAndUtils-84a91d35e04c0f9f6fe4.dll.js" defer></script></head>
<body>
<div id="app"></div>
<!-- built files will be auto injected -->
</body>
</html>
